
@font-face {
    font-family: 'Regular';
    src: url('./fonts/Circe-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bold';
    src: url('./fonts/Circe-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('./fonts/Circe-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Extralight';
    src: url('./fonts/Circe-ExtraLight.otf');
    font-weight: normal;
    font-style: normal;
}