@import './dependencies';

/*Sass Components*/

$Regular: 'Regular', serif;
$Bold: 'Bold', serif;
$Light: 'Light', serif;
$Extralight: 'Extralight', serif;

$darkblue: #141d30;
$red: #dd1a28;

/*End of Sass Components*/

html, body {width: 100%; height: 100%;}
body {
  position: relative;
  overflow: hidden;
  background: url("../img/1-mob.jpg") left bottom no-repeat;
  background-size: cover;
  transition: all .6s ease-in;
  .darkner {
    width: 100%; height: 100%; opacity: .8;
    transition: all .5s ease-in;
    background: $darkblue; position: absolute; top: 0; left: 0;
  }
  .section .darkner {display: none;}
  &.sc-2 {
    background: url("../img/2-mob.jpg") left bottom no-repeat;
    background-size: cover;
    .darkner {opacity: .85;}
  }
  &.sc-3 {
    background: url("../img/3-mob.jpg") left bottom no-repeat;
    background-size: cover;
    .darkner {opacity: .7;}
  }
  &.sc-4 {
    background: url("../img/4-mob.jpg") left bottom no-repeat;
    background-size: cover;
    .darkner {opacity: .7;}
  }
  &.sc-5 {
    background: url("../img/5.jpg") left bottom no-repeat;
    background-size: cover;
    .darkner {opacity: 0;}
  }
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.logo {
  width: 176px;
  display: block;
  position: absolute;
  top: 60px; left: 70px;
  transition: all .5s ease-out;
  opacity: 0;
  &.logo-b {opacity: 0; visibility: hidden;}
  animation: appear 2s forwards;
  animation-delay: 1s;
  z-index: 100;
}
.write-button {
  width: 127px; height: 50px;
  display: block;
  border-radius: 50px;
  background: $red; color: #fff;
  font-family: $Bold;
  font-size: 18px;
  line-height: 50px; text-align: center;
  position: absolute; right: 60px; top: 37px;
  &:hover {background: lighten($red, 5)}
  animation: appear 2s forwards;
  opacity: 0;
  animation-delay: 1.5s;
  z-index: 100;
}

@keyframes arrow {
  from {transform: translateY(0)}
  50% {transform: translateY(10px)}
  to {transform: translateY(0)}
}

.j-arrow {
  position: absolute; bottom: 60px; left: 64px;
  z-index: 100;
  transition: all .5s ease-out;
  width: 19px; display: block;
  z-index: 100;
  animation: arrow 1.5s infinite;
}

.main-menu {
  position: absolute; bottom: 58px; right: 65px;
  font-family: $Bold; font-size: 18px;
  color: #fff; text-align: right;
  animation: appear 2s forwards;
  opacity: 0;
  animation-delay: 2.5s;
  z-index: 100;
}
.main-menu__item {
  margin-bottom: 20px;
  &:last-child {margin-bottom: 0; margin-top: 55px;}
}
.main-menu__link {
  opacity: .5;
  display: block; position: relative;
  cursor: pointer;
  &:hover {opacity: .8 !important;}
  &:before {
    display: block;
    content: ''; position: absolute; top: 9px;
    transform: translateX(500px);
    width: 300px; height: 2px; background: $red;
    transition: all .4s linear;
  }
  &.active {
    opacity: 1;
    &:before {
      transform: translateX(148px);
    }
  }
}
.title {font-family: $Extralight;}

.big-title {
  color: #fff;
  font-size: 100px; line-height: 110px;
  position: absolute; left: 130px; top: 40%;
  transform: translateY(-50%);
  transition: all .3s linear;
  z-index: 1000;
}
.red {color: $red;}

.common-title {
  font-family: $Extralight;
  font-size: 100px;
  transition: all 1s ease-out;
}

@keyframes sec-text {
  from {opacity: 0; transform: translateY(-60px);}
  5% {opacity: 1; transform: translateY(-109px);}
  50% {opacity: 1; transform: translateY(-109px);}
  55% {opacity: 0; transform: translateY(-60px);}
  to {opacity: 0; transform: translateY(-60px);}
}

@keyframes first-text {
  from {opacity: 0; transform: translateY(60px);}
  5% {opacity: 1; transform: translateY(0);}
  50% {opacity: 1; transform: translateY(0);}
  55% {opacity: 0; transform: translateY(60px);}
  to {opacity: 0; transform: translateY(60px);}
}

.common-text {
  font-family: $Light;
  font-size: 45px;
  transition: all 1s ease-out;
  margin: 8px 0 0 8px;
  /*
  animation: first-text 9s infinite;
  */
  &.second {
    transform: translateY(-60px);
    /*
    animation: sec-text 9s infinite;
    */
    animation-delay: 4.5s;
    opacity: 0;
  }
}


.block-text {
  color: #fff;
  position: absolute;
  left: 130px; top: 46%;
  transform: translateY(0);
  transition: all .5s ease-in;
  opacity: 0;
}

.fixed-area {
  width: 100%; height: 100%;
  transition: all .5s ease-out;
  &.form-stage {
    .write-button {opacity: 0; visibility: hidden}
    .main-menu {color: $darkblue;}
    .logo{opacity: 0;visibility: hidden}
    .logo.logo-b{opacity: 1;visibility: visible}
  }
}

.fullpage {width: 100%; height: 100%;}
.section {width: 100%; height: 100%; position: relative; overflow: hidden}

.form-block {
  color: $darkblue;
  position: absolute;
  left: 95px; top: 50%;
  transform: translateY(-20%);
  transition: all .5s ease-in;
  z-index: 4000;
  opacity: 0;
}

.form-title {
  font-size: 100px; line-height: 110px;
  transition: all .3s linear;
}

.preload {
  opacity: 0; display: block; position: absolute;
  left: -99999px; top: -9999px;
}

::-webkit-input-placeholder {color: #bbbcbd;}
::-moz-placeholder          {color: #bbbcbd;}
:-moz-placeholder           {color: #bbbcbd;}
:-ms-input-placeholder      {color: #bbbcbd;}

.contact-form {opacity: 0; transform: translateY(200px); transition: all .7s ease-in;}
.common-input, .common-textarea {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #e1e1e1;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 0 10px 0;
  margin-bottom: 35px;
  background: transparent;
  font-family: $Regular;
}
.common-input {
  width: 390px;
  &.wm {margin-left: 70px;}
}
.common-textarea {width: 855px; resize: none; height: 30px;}

form {margin-top: 100px; margin-left: 3px;}
.write-button.submit-button {
  position: static;
  margin-top: 60px; width: 147px;
  transition: all 1s ease-in;
  transform: translateY(110px);
  opacity: 0; visibility: visible;
}

.test-stage {
  .block-text {opacity: 1; transform: translateY(-50%);}
  .keywords {left: 70px; opacity: .5;}
  .common-text {
    animation: first-text 9s infinite;
    &.second {animation: sec-text 9s infinite; opacity: 0; animation-delay: 4.5s;}
  }
}
.test-stage-form {
  opacity: 1;
  transform: translateY(-44%);
  .contact-form {opacity: 1; transform: translateY(0)}
  .write-button.submit-button {opacity: 1; transform: translateY(0)}
}

.spinner {
  display: inline-block;
  margin-left: -24px;
}
.keywords {
  font-size: 14px; font-family: $Regular; color: #fff; opacity: 0;
  transition: all .5s ease-out; position: absolute;
  left: -70px; bottom: 58px;
  span {display: inline-block; margin-left: 10px;}
}

.preloader {
  width: 100%; height: 100%;
  position: fixed; top: 0; left: 0;
  z-index: 6000;
  background: $darkblue;
}

@keyframes preload {
  from {width: 1px;}
  to {width: 100%;}
}

.pr-anim {
  width: 100%;
  height: 3px;
  background: $red;
  position: absolute; top: 50%; left: 0px;
  transform: translateY(-50%);
  border-radius: 50%;
  animation: preload 1s forwards;
}

br.mobshow {display: none !important;}

@media screen and (max-width: 1800px) , screen and (max-height: 950px) {
  .logo {top: 40px; left: 35px;}
  .write-button {right: 30px; top: 30px; font-size: 17px;}
  .keywords {left: -70px; bottom: 30px;}
  .test-stage .keywords {left: 30px; bottom: 30px;}
  .main-menu {right: 35px; bottom: 30px; font-size: 17px;}
  .block-text, .big-title {left: 70px;}
  .big-title {font-size: 80px; line-height: 88px;}
  .form-title {font-size: 75px; line-height: 83px;}
  .spinner {margin-left: -17px;}
  form {margin-top: 40px;}
  .write-button.submit-button {margin-top: 30px;}
  .common-title {font-size: 80px;}
  .common-text {font-size: 35px;}
  .j-arrow {left: 35px;bottom: 40px;}

  @keyframes sec-text {
    from {opacity: 0; transform: translateY(-60px);}
    5% {opacity: 1; transform: translateY(-88px);}
    50% {opacity: 1; transform: translateY(-88px);}
    55% {opacity: 0; transform: translateY(-88px);}
    to {opacity: 0; transform: translateY(-60px);}
  }
  .main-menu__link {
    &.active {
      &:before {
        transform: translateX(138px);
      }
    }
  }
}

@media screen and (max-width: 1300px) , screen and (max-height: 680px) {
  .form-block {
    top: auto;
    left: 27px; bottom: 30px; transform: translateY(0);
    &.test-stage-form {transform: translateY(0);}
  }
}

@media screen and (max-width: 1200px) {
  .big-title {font-size: 70px; line-height: 77px;}
}

@media screen and (max-width: 800px) , screen and (max-height: 600px) {
  body {
    background: $darkblue;
    .main-menu {display: none;}
    .darkner {display: none;}
    max-width: 100%;
  }
  .section .darkner {display: block !important;}
  .screen-1 {
    background: url("../img/1-mob.jpg") bottom left no-repeat;
    background-size: cover;
    .darkner {
      display: block;
      opacity: .8;
    }
  }
  .screen-2 {
    background: url("../img/2-mob.jpg") bottom left no-repeat;
    background-size: cover;
    .darkner {
      display: block;
      opacity: .85;
    }
  }
  .screen-3 {
    background: url("../img/3-mob.jpg") bottom left no-repeat;
    background-size: cover;
    .darkner {
      display: block;
      opacity: .85;
    }
  }
  .screen-4 {
    background: url("../img/4-mob.jpg") bottom left no-repeat;
    background-size: cover;
    .darkner {
      display: block;
      opacity: .7;
    }
  }
  .screen-5 {background: #fff;}
  .logo {top: 35px; left: 20px; width: 120px;}
  .write-button {top: 20px; right: 18px; width: 117px; height: 44px; line-height: 45px;}
  .j-arrow {left: 25px;}
  .big-title, .block-text {left: 20px;}
  .big-title {font-size: 40px; line-height: 45px; font-family: $Regular;}
  .common-title {font-size: 40px; font-family: $Regular;}
  .common-text {
    font-size: 19px;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: $Regular;
    text-shadow: 0px 1px 2px rgba(20, 29, 48, .8);
  }
  .common-text.first, .common-text.second {animation: none !important;}
  .common-text.second {opacity: 0 !important; visibility: hidden; transform: translateY(0)}
  br.nohide {display: block;}
  .keywords {left: 20px; opacity: .5;}
  .keywords span {
    display: block;
    margin-left: 0;
  }
  .block-text {opacity: 1; transform: translateY(-50%);}
  .form-block {
    opacity: 1; transform: translateY(0);
    bottom: 40px;
    top: auto;
    width: 100%;
    left: 18px;
    br {display: none;}
  }
  .form-title {font-size: 40px; line-height: 38px; font-family: $Regular;}
  .contact-form {transform: translateY(0); opacity: 1; width: 100%;}
  .spinner {margin-left: 0;}
  .common-input, .common-textarea {
    display: block;
    width: calc(100% - 40px);
    margin-left: 0 !important;
    margin-bottom: 20px; border-color: #eeedf2;
  }
  .submit-button {transform: translateY(0) !important; width: calc(100% - 40px) !important;}
  br.mobshow {display: block !important;}
  .hideous {
    width: 200px; height: 200px;
    background: $darkblue; position: absolute; top: 0; right: 0;
  }
  .fixed-area.form-stage {
    .logo {opacity: 0 !important; visibility: hidden !important;}
  }
  textarea {height: 65px !important;}
}

@media screen and (max-width: 360px) {
  .big-title {font-size: 35px; line-height: 35px;}
}