head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    block title
        title Title

    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="robots", content="index, follow")
    meta(name="description", content="")

    meta(name="viewport", content="width=device-width", initial-scale="1.0", maximum-scale="1.0")

    link(rel="shortcut icon", href="favicon.png", type="image/png")

    // stylesheets
    link(rel="stylesheet", href="css/main.css")
