mixin menu(options)
    -
        var menu = {
        blog: ['blog-archive.html'],
        main: ['index.html']
        };

    block menu-options
        - var menuClass = 'page-header ' + options.menuClass;


    header(class=menuClass)
        .top-menu-block
            .content
                nav.top-menu
                    if options.isIndexPage

