script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')
script(src="js/fullpage.min.js")

script.
    new fullpage('#fullpage', {
        //options here
        autoScrolling:true,
        menu: '#menu',
        fixedElements: '.fixed-area',
        scrollHorizontally: false
        /*
        responsiveWidth: 800,
        responsiveHeight: 600
        */
    });


script(src="js/main.js")