extends template

block title
    title Napoleon CV

block header
    include ./components/menu
    + menu({menuClass: '', isIndexPage: true, isWhite: false})

block content

    .preloader
        .pr-anim
    //
        .darkner

    img.preload(src="img/1.jpg")
    img.preload(src="img/2.jpg")
    img.preload(src="img/3.jpg")
    img.preload(src="img/4.jpg")

    .fixed-area
        a.logo-link(href="#slide1")
            img.logo(src="img/logo-w.svg")
            img.logo.logo-b(src="img/logo-b.svg")
        a.write-button(href="#slide5") Написать
        nav.main-menu#menu
            ul.main-menu__list
                li.main-menu__item
                    a.main-menu__link.ret(href="#slide2", data-menuanchor="slide2") Retail
                li.main-menu__item
                    a.main-menu__link.tra(href="#slide3", data-menuanchor="slide3") Transport
                li.main-menu__item
                    a.main-menu__link.man(href="#slide4", data-menuanchor="slide4") Manufacturing
                li.main-menu__item
                    a.main-menu__link.bc(href="#slide5", data-menuanchor="slide5") Ваш бизнес-кейс

    #fullpage.fullpage
        .section.screen-1(data-anchor="slide1")
            //
                .darkner
            img.j-arrow(src='img/arrow.svg')
            h1.big-title.title.wow.fadeIn(data-wow-delay="2s")
                | Мы ускоряем
                br
                |
                span.red  бизнес-процессы
                br
                |  с&nbsp;помощью компьютерного
                br
                |  зрения
        .section.screen-2(data-anchor="slide2")
            //
                .darkner
            .block-text.ret-text
                h2.common-title
                    | Retail
                p.common-text.first
                    | Ускоряем
                    |
                    span.red в&nbsp;5&nbsp;раз
                    |
                    | процессы контроля
                    br
                    | выкладки товара

                p.common-text.second
                    | Упрощаем
                    |
                    span.red проверку
                    |
                    | актуальности цен

            p.keywords
                | Ключевые слова:
                |
                span магазин / полка / товар / проверка

        .section.screen-3(data-anchor="slide3")
            //
                .darkner
            .block-text.tr-text
                h2.common-title
                    | Transport
                p.common-text.first
                    | Делаем полную
                    |
                    span.red автоматизацию
                    |
                    |  процессов
                    br
                    |  в&nbsp;транспортной отрасли
                p.common-text.second
                    | Обнаруживаем
                    |
                    span.red Усталость
                    |
                    | водителей
            p.keywords
                | Ключевые слова:
                |
                span препятствие / поток / поезд / номер

        .section.screen-4(data-anchor="slide4")
            //
                .darkner
            .block-text.man-text
                h2.common-title
                    | Manufacturing
                p.common-text.first
                    | Выводим
                    |
                    span.red контроль
                    |
                    |  брака и&nbsp;промышленной
                    br
                    |  безопасности на&nbsp;новый уровень
                p.common-text.second
                    span.red Автоматизируем
                    |
                    |  процессы контроля
                    br
                    |  отклонений в&nbsp;производстве
            p.keywords
                | Ключевые слова:
                |
                span производство / безопасность / качество / нарушения

        .section.screen-5(data-anchor="slide5")
            .form-block
                h2.title.form-title
                    | Расскажите нам
                    br.mobshow
                    |  о&nbsp;своём
                    br
                    |  бизнес-
                    |
                    br.mobshow
                    span.red.spinner процессе, кейсе, предложении

                form.contact-form
                    input.common-input.name(placeholder="Ваше имя")
                    input.common-input.wm.phone(placeholder="Телефон для связи")
                    br
                    input.common-input.position(placeholder="Должность (не обязательно, но важно)")
                    input.common-input.wm.mail(placeholder="Почта, чтобы высылать вам наши предложения")
                    br
                    textarea.common-textarea.message(placeholder="Опишите ваш бизнес-процесс")
                    button.write-button.submit-button(type="submit", value="Отправить") Отправить


    include ./components/scripts
    script(src="js/jquery.simple-text-rotator.js")