* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    text-rendering: optimizeLegibility;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
body {position: relative; overflow-x: hidden;}
body.blocked, html.blocked {overflow: hidden !important;}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}

li {list-style: none;}

.clearfix {clear: both;}
.mobshow {display: none !important;}

a {
    color: inherit;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s ease-in;
}

button {
    transition: all 0.3s ease-in;
    cursor: pointer; 
}

input, textarea {-webkit-appearance: none;}

::-webkit-input-placeholder {color: #abb9d2;}
::-moz-placeholder          {color: #abb9d2;}
:-moz-placeholder           {color: #abb9d2;}
:-ms-input-placeholder      {color: #abb9d2;}